<div class="button-row">
  <a mat-raised-button routerLink="/books/overview">Back</a>
</div>

<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button color="primary">Add Book</button>
  </div>
</div>